#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.parent {
  display: grid;
  grid-template-columns: 1fr 3fr; /* Two columns: 1 for navbar, 3 for content */
  grid-template-rows: auto 1fr auto; /* Adjust rows to fit content */
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .header { grid-area: 1 / 1 / 2 / 6; }
  .navbar { grid-area: 2 / 1 / 5 / 2;
    width: 100px;
    border: solid red;

  }
  .content { grid-area: 2 / 2 / 5 / 6; }
  .footer { grid-area: 5 / 1 / 6 / 6; }

a {
  font-weight: 900;
  color:#eb1c24;
  text-decoration: inherit;
}
a:hover {
  color:#eb1c24;
}

body {
  margin: 0;  /* Remove default margin */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #ffffff;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #eb1c24;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.article-pic {
  width: 70%;
  height: auto;
  padding: 10px;
}

.mini-avatar {
  width: 20px; 
  height: 'auto'
}

.topic-dropdown:hover {
  border-color: #eb1c24;
}

.card {
  position: relative;
  width: 200px;
  height: 500px;
  border-radius: 14px;
  z-index: 1111;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
  ;
}

.bg {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 190px;
  height: 490px;
  z-index: 2;
  background: rgba(255, 255, 255, .95);
  backdrop-filter: blur(24px);
  border-radius: 10px;
  overflow: hidden;
  outline: 2px solid white;
}

.blob {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #ff0000;
  opacity: 1;
  filter: blur(12px);
  animation: blob-bounce 5s infinite ease;
}

@keyframes blob-bounce {
  0% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }

  25% {
    transform: translate(-100%, -100%) translate3d(100%, 0, 0);
  }

  50% {
    transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
  }

  75% {
    transform: translate(-100%, -100%) translate3d(0, 100%, 0);
  }

  100% {
    transform: translate(-100%, -100%) translate3d(0, 0, 0);
  }
}
